table {
  margin: 20px auto;
  border: 1px solid gray;
  /* background-color: gray;
  color: white; */
  border-collapse: collapse;
  min-width: 40vw;
}

table thead {
  background-color: gray;
  color: white;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}
